h1{
    text-align:center;
}
.contact{
    text-align:center;
}

body {
    background-color: #FFC300;
    color: #5b2c6f;
    font-family: 'Encode Sans SC', sans-serif;
}

button {
    background-color: #bb8fce;
    border-radius: 12px;
    border: 10px solid #f7dc6f;
    font-size: 60px;
    width: 100%;
    font-family: 'Encode Sans SC', sans-serif;
    color: #5b2c6f;
}
